

*{
    margin: 0;
    padding: 0;
    box-sizing: 
    border-box;
    font-family: 'Montserrat', sans-serif;
    
}
body{
    background: #ffffff;
}

/* loader */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(255, 0, 0) transparent rgb(255, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.loader{
    background:rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    clip-path: circle(150% at 100% 0) ;
    transition: 0.8s ease-in-out ;
    
}
.loaderNone{
    clip-path: circle(0% at 100% 0);

}
/* login*/

.ocultarLogin{
    display:none;
}


#loginCard{
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 500px;
    height: 300px;
    display: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    margin: 11% 32%;
    z-index: 11;
}
.loginCard h2{
    margin:30px;
}
.loginCard p{
    margin: 0px 30px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginForm button,
.loginForm input,
.loginForm textarea{
    width:100%;
    padding: .5em;
    border:none;
    background: none;
    outline: none;
    border-bottom: 1px solid #d90000;
}
.loginForm button{
    border-radius: 6.4px;
    background-color: rgb(255, 0, 0);
    border: transparent;
    margin: 1em 0;
    color:aliceblue;
    padding: 1em;
    text-transform: uppercase;
}
.loginForm button:hover, 
.loginForm button:focus{
    background-color:rgb(170, 0, 0);
    transition: 0.5s;
}

/* navbar */
.navBar{
    background-color: hsla(0, 0%, 0%, 0);
    border-radius: 0px;
    z-index: 1000;
    position: fixed;
    width: 100%; 
    transition: all 1.5s ease;
}
.navBar_logo{
    float: left;
    margin: 10px 0px 10px 30px ;
    font-family: 'Lobster', sans-serif;
    position: relative;

}
.navBar_logo p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight:bold 
}
.hypeRed{
    color: rgb(250, 0, 0);
}
.navBar ul{
    display: inline-block;
}

.navBar li{ 
    display:inline-block;
    padding: 5px;
    margin: 10px;
}
.navBar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;   
}
.navBar a:hover{
    color:rgb(255, 0, 0);
    transition: 0.5s;
}

.navBarInverse{
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    box-shadow: 2px -2px 11px 1px rgba(0,0,0,0.46);
    transition: all 1.5s ease;
}
.navBarInverse .navBar_logo p{
    color: black;
}
.navBarInverse a{
    color: rgb(0, 0, 0);
}

.navBar__carrito a,
.navBar__carrito p{
    display: inline-block;
    margin: 0 5px;

}
.navBar__carrito:hover{
    cursor: pointer;
}
.nCantidad{
    position: absolute;
    color: white
}
.navBarInverse .nCantidad{
    color:black;
}

.carrito{
    float: right;
    margin-right: 30px;
    /* border-right: solid 2px rgb(212, 212, 212); */
    font-family: 'Lobster', sans-serif;
    position: relative;

}

/* section one */
.sectionOne{
    display:flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcomeUser{
    display: flex;
    position: relative;
    height: 99vh;
    width: 100%;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.493), rgb(0, 0, 0)100%), url(../img/index.jpg);
    background-size:cover;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.subtitle{
    color: #e0e0e0;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    display: none;
}

.content{
    display:flex;
    flex-direction: column;
    width: 99%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;

}
.content h2{
    margin: 0px 0px 30px 0px;
}

/* slider brand */
.section-slider {
    padding-top: 50px; }
    .section-slider p {
      margin: 20px auto;
      text-align: center;
      color: #1e1e1e;
      font-size: 22px;
      line-height: 50px; }
    .section-slider hr {
      margin: 20px auto; }
  
  @keyframes scroll {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(calc(-84px * 12)); } }
  
  .slider {
    background: rgb(255, 4, 0);
    /* box-shadow: 0 10px 20px -5px rgb(0 0 0 / 13%); */
    height: 100px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    width: 100%; }
    .slider::before {
      background: linear-gradient(to right, rgb(255, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2; }
    .slider::after {
      background: linear-gradient(to right, rgb(255, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
      right: 0;
      top: 0;
      transform: rotateZ(180deg); }
    .slider::before {
      left: 0;
      top: 0; }
    .slider .slide-track {
        margin-top: 10px;
      animation: scroll 15s linear infinite;
      display: flex;
      width: calc(250px * 14); }
  
  .slideContainer {
    margin: auto 30px auto 30px; }
  
  .slideOne {
    margin-left: 100px; }
/* galeria */
.galeria{
    display: flex;
    width: 96%;
    height: 300px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: 0 10px;
}
.imgGaleria{
    width: 33.333333%;
    flex: 0 0 auto;

}
.img{
    background-size: cover;
    height: 200px;
    background-position: center 100%;
    margin: 10px 20px;
    padding: 1rem;
}
.img h5{
    font-size:20px;
    background-color: #000000;
    display: inline;
    color: white;
    padding: 10px;
    line-height: 2.5
}
.imgOne{
    background-image: url(../img/streetwear.jpg);
}
.imgTwo{
    background-image: url(../img//streetwear3.jpg);
}
.imgThree{
    background-image: url(../img/streetwear2.jpg);
}

/* mensaje */

.mensaje{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: 10px 0px 50px 0px;
}
.msj{
    padding: 10px 85px;
    font-size:30px;
    text-align: center;

}
.msjOne{
    background-color:hsl(0, 100%, 50%);
    color: #fff;
}
.msjTwo{
    background-color: #000000;
    color: rgb(255, 255, 255);

}

.searchCategoria{
    border: 0;
    border-bottom: 2px solid #e4e6eb;
    width: 200px;
    padding: 5px 0;
    transition: all 0.5s;
}

/* productos */


#listaProductos{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#listaProductos p{
    font-size: 15px;

}

#listaProductos li button{
    width: 100%;
    border-radius: 2px;
    background-color: rgb(255, 0, 0);
    padding: .6em;
    border: transparent;
    margin: 1em 0;
    color:aliceblue
}
#listaProductos li button:hover{
    background-color: rgb(170, 0, 0);
    transition:0.5s;
    cursor: pointer;
}
.cards{
    margin: 15px;
    display: flex;
    width: 250px;
    height: 350px;
    border: 2px solid rgba(189, 189, 189, 0.096);
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.filter{
    display: none;
    /* visibility: hidden;
    opacity: 0;
    order: 1; */
}
.cards:hover{
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.158);
    transition: all 0.5s ease;
}
.card__content{
    padding: 15px 5px;
    background-color: rgba(228, 228, 228, 0.212);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.card__content p{
    font-size:18px
}
.card__title{
    margin-bottom:10px
}
.card__img{
    height: 300px;
}
.imgItem{
    height: 120px;
    object-fit: cover;
    object-position: center center;
    padding: 20px 0px 0px 0px;
}
.nombreItem{
    font-weight: bold;
}

.precioUnitUsd{
    color:green;
    margin-top:5px;
    
}
/* FOOTER */

footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
}
footer p{ 
    color: #ffffff44;
    margin:20px;
}

/* SERVICIO */ 

.rowServicios{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    background-color:rgb(29, 29, 29);
    color:white;
}
.servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 20%;
    height: 250px;
    margin: 0 15px
}
.servicios i{
    font-size:40px
}
.servicios h4{
    font-size:20px;
    text-align: center;
    margin-top:20px
    
}




/* TABLE GRID CARRITO */
#layout{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 10;
    transition: all 2s ease;

}
.carritoVacio{
    width: 100%;
    height: 100%;
    display: none;
}
#btnClCarrito{
    margin: 45px 0px 10px 95%;
    position: absolute;
    width:30px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #000000;
    color: #ffffff;
}
.clLogin{
    margin: 0px 0px 0px 90%;
}
#btnClCuenta{

    width:30px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #000000;
    color: #ffffff;
}


/* CARRITO */
#tableCarrito{
    overflow-y: scroll;
    width:50%;
    height: 100vh;
    display: none;
    position: fixed;
    right:0;
    top:0;
    background-color:rgb(247 247 247);
    z-index: 9999999;
   
}
.layout{
    background-color:rgba(0, 0, 0, 0.24);
}
.thead{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 50px 30px;

}

#tbody{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}
#tbody div{
    text-align: center;
}

.rowItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 95%;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.281);
    margin-bottom: 15px;
    padding: 15px;
    background-color:white;
}
.rowTitle{
    display: flex;
    flex-direction: row;
}
.boldTitle{
    font-weight: bold;
}
.rowId{
    margin-right: 10px;

}
.rowDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rowPrice{
    display: flex;
    justify-content: center;
    height:100%;
    width: 10%;
    font-weight: bold;
}
.btnSuma,
.btnResta{    
    width:25px;
}
.btnDeleteCant{
    width: 100px;
    height:25px;
    border-radius: 2px;
    background-color: #000000;
    color: #ffffff;
}
.btnDeleteCant:hover{
    background-color:rgb(53, 53, 53);
    cursor: pointer;
}
.rowBtn{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.rowBtn p{
    padding: 0px;
}
.rowBtn button,
.btnDeleteCant{
    margin: 10px;
    border:none;
    
}
.rowBtn button:hover,
#btnClCarrito:hover{
    background-color:rgb(146, 146, 146);
    cursor: pointer;
}



#tfoot{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    justify-items: center;
    padding: 10px;
}

.total{
    font-weight: bold;
    font-size: 20px
}
.totalCant{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.totalCarrito{
    font-weight: bold;
    font-size:20px;
}

.finalizarCompra{
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.btnFC{
    width: 300px;
    height: 30px;
    border-radius: 2px;
    background-color: #ff0000;
    color: #ffffff;
    margin: 20px 0px;
    border:none;
}
.btnFC:hover{
    background-color: rgb(170, 0, 0);
    transition:0.5s;
    cursor: pointer;
    
}
.lds-dual-ringFC {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ringFC:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(255, 0, 0) transparent rgb(255, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.loaderFC{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 46% 0px 0px;
    position: fixed;
    z-index: 9999999999;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: center;
  
}
.loaderNoneFC{
    clip-path: circle(0% at 100% 0);

}

.checkNone{
    background:rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: none;
    padding:15% 48% 15% 0%;
    position: fixed;
    z-index: 99998;
    text-align: center;
}
.checkNone i {
    color: rgb(255, 0, 0);
    font-size: 90px;
    margin:20px;

}
.checkNone p{
    font-weight: bold;
    font-size: 40px;
}
.checkNone a{ 
    margin:20px;
    color: #ff0000;
    font-weight: bold;
}


/* RESPONSIVE */
@media only screen and (max-width: 980px){
    #tableCarrito {
        width: 60%;
    }
    .loaderFC{
        padding: 0 36% 0 0;
    }
    .checkNone{
        padding: 15% 40% 15% 0%;
    }
    #btnClCarrito{
        margin: 45px 0px 10px 90%;
    }
}

@media only screen and (max-width: 780px) {

    /*table */
    #tableCarrito {
        width: 80%;

    }
    .loaderFC{
        padding: 0 18% 0 0;
    }
    .checkNone{
        padding: 125px 150px 125px 0px;
    }
    .galeria{
        flex-direction: column;
        margin: 30px;
        margin: 190px;
    }
    .imgGaleria {
        width: 80%;
        flex: 0 0 auto;
    }
    .mensaje{
        flex-direction: column;

    }
    .msj{
        padding: 10px;
        width: 600px;
    }

}
@media only screen and (max-width: 590px) {

    #tableCarrito {
        width: 100%;

    }
    .loaderFC{
        padding: 0;
    }
    .checkNone{
        padding: 140px 0px;
    }
    
    .rowId{
        display: none;
    }
    .img{
        margin: 10px 10px;
    }
    .msj{
        padding: 10px 5px;
        width:400px;
    }
    .rowServicios{
        flex-direction: column;
        
    }
    .servicios{
        height: 200px;
    }


}
@media only screen and (max-width: 390px) {
    .totalCant{
        flex-direction: column;
    }
    /* .loaderFC{
        padding: 220px 125px;
    } */
    .checkNone{
        padding: 35% 0%;
    }
    .img{
        margin: 10px 3px;
    }
    .msj{
        padding: 10px 5px;
        width:300px;
    }


}


